node_modules/
.next/
out/
dist/
build/
coverage/
.pnpm-store/
.turbo/
.cache/
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.local
.vercel/
